hello_world.json
[{"id":"4c3e4c8d.946d94","type":"tab","label":"流程1"},{"id":"7bc12278.9b519c","type":"subflow","name":"fission-client-authentication","info":"","in":[{"x":140,"y":300,"wires":[{"id":"785ede2c.8be3b"}]}],"out":[{"x":1040,"y":280,"wires":[{"id":"3efdf7bf.d802d8","port":0}]},{"x":1040,"y":360,"wires":[{"id":"d94fd76a.517bc8","port":0}]}]},{"id":"2385ac3c.16d4a4","type":"subflow","name":"fission-admin-authentication","info":"","in":[{"x":60,"y":220,"wires":[{"id":"19e894e7.b30f7b"}]}],"out":[{"x":1000,"y":220,"wires":[{"id":"1ad777d.63b1688","port":0}]},{"x":1000,"y":460,"wires":[{"id":"fc051271.8aa3c","port":0}]}]},{"id":"672c5b02.6eca04","type":"mailgun-config","z":"","name":"default","domain":"sandboxd578da50f05b48b6aaa241a007329333.mailgun.org","apikey":"key-f352e8886f40dbc1332b4e0c2346b9e0","from":"Mailgun Sandbox <postmaster@sandboxd578da50f05b48b6aaa241a007329333.mailgun.org>","to":"yqf3139 <yqf3139@163.com>"},{"id":"dfc1b393.372f8","type":"JsonWebToken_config","z":"","name":"secret","secret":"secret"},{"id":"3da5b5f.3b5914a","type":"JsonWebToken","z":"7bc12278.9b519c","name":"parse token","tokenconfig":"dfc1b393.372f8","x":470,"y":260,"wires":[["4f17724f.7351cc"]]},{"id":"4f17724f.7351cc","type":"switch","z":"7bc12278.9b519c","name":"Is token.uid valid?","property":"token.uid","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":650,"y":300,"wires":[["3efdf7bf.d802d8"],["d94fd76a.517bc8"]]},{"id":"7610c05c.e5807","type":"JsonWebToken","z":"2385ac3c.16d4a4","name":"parse token","tokenconfig":"dfc1b393.372f8","x":390,"y":220,"wires":[["d3563c5d.20acc"]]},{"id":"d3563c5d.20acc","type":"switch","z":"2385ac3c.16d4a4","name":"Is token.admin valid?","property":"token.admin","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":600,"y":280,"wires":[["1ad777d.63b1688"],["fc051271.8aa3c"]]},{"id":"785ede2c.8be3b","type":"switch","z":"7bc12278.9b519c","name":"Is token exist?","property":"token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":300,"y":300,"wires":[["3da5b5f.3b5914a"],["d94fd76a.517bc8"]]},{"id":"19e894e7.b30f7b","type":"switch","z":"2385ac3c.16d4a4","name":"Is token exist?","property":"token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":200,"y":280,"wires":[["7610c05c.e5807"],["fc051271.8aa3c"]]},{"id":"d94fd76a.517bc8","type":"change","z":"7bc12278.9b519c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"err\":\"Unauthorized\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":360,"wires":[[]]},{"id":"fc051271.8aa3c","type":"change","z":"2385ac3c.16d4a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"err\":\"Unauthorized\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[[]]},{"id":"3efdf7bf.d802d8","type":"change","z":"7bc12278.9b519c","name":"","rules":[{"t":"move","p":"token.uid","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":280,"wires":[[]]},{"id":"1ad777d.63b1688","type":"change","z":"2385ac3c.16d4a4","name":"","rules":[{"t":"move","p":"token.uid","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":220,"wires":[[]]},{"id":"ac0c82cb.4295a","type":"inject","z":"4c3e4c8d.946d94","name":"手动注入事件","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":100,"wires":[["f5e99154.f0576"]]},{"id":"a65f4969.b72c38","type":"debug","z":"4c3e4c8d.946d94","name":"输出消息的payload字段","active":true,"console":"false","complete":"payload","x":610,"y":100,"wires":[]},{"id":"f5e99154.f0576","type":"change","z":"4c3e4c8d.946d94","name":"设置消息内容","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello World!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[["a65f4969.b72c38"]]}]