where_are_animals.json
[{"id":"1361afcd.8bca7","type":"tab","label":"图片上传与处理流程","disabled":false,"info":""},{"id":"bd4e722a.ca471","type":"tab","label":"客户端检测流程","disabled":false,"info":""},{"id":"abbbc2d1.89091","type":"tab","label":"管理员流程","disabled":false,"info":""},{"id":"7bc12278.9b519c","type":"subflow","name":"fission-client-authentication","info":"","in":[{"x":140,"y":300,"wires":[{"id":"785ede2c.8be3b"}]}],"out":[{"x":1040,"y":280,"wires":[{"id":"3efdf7bf.d802d8","port":0}]},{"x":1040,"y":360,"wires":[{"id":"d94fd76a.517bc8","port":0}]}]},{"id":"2385ac3c.16d4a4","type":"subflow","name":"fission-admin-authentication","info":"","in":[{"x":60,"y":220,"wires":[{"id":"19e894e7.b30f7b"}]}],"out":[{"x":1000,"y":220,"wires":[{"id":"1ad777d.63b1688","port":0}]},{"x":1000,"y":460,"wires":[{"id":"fc051271.8aa3c","port":0}]}]},{"id":"672c5b02.6eca04","type":"mailgun-config","z":"","name":"default","domain":"sandboxd578da50f05b48b6aaa241a007329333.mailgun.org","apikey":"key-f352e8886f40dbc1332b4e0c2346b9e0","from":"Mailgun Sandbox <postmaster@sandboxd578da50f05b48b6aaa241a007329333.mailgun.org>","to":"yqf3139 <yqf3139@163.com>"},{"id":"dfc1b393.372f8","type":"JsonWebToken_config","z":"","name":"secret","secret":"secret"},{"id":"3da5b5f.3b5914a","type":"JsonWebToken","z":"7bc12278.9b519c","name":"parse token","tokenconfig":"dfc1b393.372f8","x":470,"y":260,"wires":[["4f17724f.7351cc"]]},{"id":"4f17724f.7351cc","type":"switch","z":"7bc12278.9b519c","name":"Is token.uid valid?","property":"token.uid","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":650,"y":300,"wires":[["3efdf7bf.d802d8"],["d94fd76a.517bc8"]]},{"id":"7610c05c.e5807","type":"JsonWebToken","z":"2385ac3c.16d4a4","name":"parse token","tokenconfig":"dfc1b393.372f8","x":390,"y":220,"wires":[["d3563c5d.20acc"]]},{"id":"d3563c5d.20acc","type":"switch","z":"2385ac3c.16d4a4","name":"Is token.admin valid?","property":"token.admin","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":600,"y":280,"wires":[["1ad777d.63b1688"],["fc051271.8aa3c"]]},{"id":"785ede2c.8be3b","type":"switch","z":"7bc12278.9b519c","name":"Is token exist?","property":"token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":300,"y":300,"wires":[["3da5b5f.3b5914a"],["d94fd76a.517bc8"]]},{"id":"19e894e7.b30f7b","type":"switch","z":"2385ac3c.16d4a4","name":"Is token exist?","property":"token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":200,"y":280,"wires":[["7610c05c.e5807"],["fc051271.8aa3c"]]},{"id":"d94fd76a.517bc8","type":"change","z":"7bc12278.9b519c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"err\":\"Unauthorized\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":360,"wires":[[]]},{"id":"fc051271.8aa3c","type":"change","z":"2385ac3c.16d4a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"err\":\"Unauthorized\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"403","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[[]]},{"id":"3efdf7bf.d802d8","type":"change","z":"7bc12278.9b519c","name":"","rules":[{"t":"move","p":"token.uid","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":280,"wires":[[]]},{"id":"1ad777d.63b1688","type":"change","z":"2385ac3c.16d4a4","name":"","rules":[{"t":"move","p":"token.uid","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":220,"wires":[[]]},{"id":"4e6c2518.bb8eac","type":"fission-httptrigger","z":"1361afcd.8bca7","name":"When client upload images to [/api/images]","url":"/api/images","method":"post","x":220,"y":100,"wires":[["c5168719.00c508"]]},{"id":"c5168719.00c508","type":"subflow:7bc12278.9b519c","z":"1361afcd.8bca7","name":"","x":520,"y":140,"wires":[["1bc54db0.83d782"],["a198142b.b32998"]]},{"id":"1bc54db0.83d782","type":"fission-rate-limit","z":"1361afcd.8bca7","name":"","rate":"1","nbRateUnits":"5","rateUnits":"second","x":740,"y":80,"wires":[["6bfe1bd9.19de14"],["a198142b.b32998"]]},{"id":"6bfe1bd9.19de14","type":"fission-minio-fput","z":"1361afcd.8bca7","name":"","serviceclass":"minio","instancename":"minio-instance","bucket":"images","funcname":"std-minio-fput","x":950,"y":60,"wires":[["b502a8ba.eb2528","a198142b.b32998"],["a198142b.b32998"]]},{"id":"b502a8ba.eb2528","type":"function","z":"1361afcd.8bca7","name":"Set params","func":"msg.payload = msg.payload.payload.map((r) => {\n    r.client_id = msg.topic;\n    r.type = 'unknown';\n    r.possibility = 100;\n    return r;\n});\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":40,"wires":[["4e27d630.5f6d88"]]},{"id":"4e27d630.5f6d88","type":"fission-rethinkdb-put","z":"1361afcd.8bca7","name":"","serviceclass":"rethinkdb","instancename":"rethinkdb-instance","database":"test","table":"images","key":"","value":"","funcname":"std-rethinkdb-put","x":1370,"y":120,"wires":[]},{"id":"a198142b.b32998","type":"http response","z":"1361afcd.8bca7","name":"","statusCode":"","headers":{},"x":1190,"y":180,"wires":[]},{"id":"6d7a542d.331c0c","type":"fission-minio-adapter","z":"1361afcd.8bca7","name":"When bucket [images] changes","autoresp":true,"serviceclass":"minio","instancename":"minio-instance","bucket":"images","prefix":"","suffix":".jpg","x":190,"y":240,"wires":[["a20e2bcb.960408"]]},{"id":"a20e2bcb.960408","type":"switch","z":"1361afcd.8bca7","name":"If new image added","property":"payload.EventType","propertyType":"msg","rules":[{"t":"eq","v":"s3:ObjectCreated:Put","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":500,"y":280,"wires":[["8367235b.98b0b","cb01f433.5cee78","c8ba3d01.c0d8d","7ce656fa.0d3f48","a0471430.9b6028"],[]]},{"id":"8367235b.98b0b","type":"change","z":"1361afcd.8bca7","name":"Bind thumbnails-small-color","rules":[{"t":"set","p":"payload.dstbkt","pt":"msg","to":"thumbnails-small-color","tot":"str"},{"t":"set","p":"payload.resize","pt":"msg","to":"{\"width\":200,\"height\":200,\"grey\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":220,"wires":[["1e2fdc7.bb9c624"]]},{"id":"cb01f433.5cee78","type":"change","z":"1361afcd.8bca7","name":"Bind thumbnails-small-grey","rules":[{"t":"set","p":"payload.dstbkt","pt":"msg","to":"thumbnails-small-grey","tot":"str"},{"t":"set","p":"payload.resize","pt":"msg","to":"{\"width\":200,\"height\":200,\"grey\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":280,"wires":[["1e2fdc7.bb9c624"]]},{"id":"c8ba3d01.c0d8d","type":"change","z":"1361afcd.8bca7","name":"Bind thumbnails-medium-color","rules":[{"t":"set","p":"payload.dstbkt","pt":"msg","to":"thumbnails-medium-color","tot":"str"},{"t":"set","p":"payload.resize","pt":"msg","to":"{\"width\":600,\"height\":600,\"grey\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":340,"wires":[["1e2fdc7.bb9c624"]]},{"id":"7ce656fa.0d3f48","type":"change","z":"1361afcd.8bca7","name":"Bind thumbnails-medium-grey","rules":[{"t":"set","p":"payload.dstbkt","pt":"msg","to":"thumbnails-medium-grey","tot":"str"},{"t":"set","p":"payload.resize","pt":"msg","to":"{\"width\":600,\"height\":600,\"grey\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":400,"wires":[["1e2fdc7.bb9c624"]]},{"id":"a0471430.9b6028","type":"change","z":"1361afcd.8bca7","name":"Bind recognize params","rules":[{"t":"set","p":"payload.recognize","pt":"msg","to":"recognize","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":460,"wires":[["a8b1f978.09c9c8"]]},{"id":"1e2fdc7.bb9c624","type":"fission-natspublisher","z":"1361afcd.8bca7","name":"Pub to [app.image.convert]","topic":"app.image.convert","x":1180,"y":300,"wires":[]},{"id":"a8b1f978.09c9c8","type":"fission-natspublisher","z":"1361afcd.8bca7","name":"Pub to [app.image.recognize]","topic":"app.image.recognize","x":1180,"y":460,"wires":[]},{"id":"8c45974f.076938","type":"fission-natstrigger","z":"1361afcd.8bca7","name":"When new msg in [app.image.convert]","autoresp":true,"topic":"app.image.convert","mqtype":"nats-streaming","resptopic":"","x":210,"y":560,"wires":[["6261eb63.d15594"]]},{"id":"5c1570f7.cc634","type":"fission-invocation","z":"1361afcd.8bca7","name":"Recognize images","readonly":true,"errorflow":true,"createnew":false,"funcname":"app-image-recognize","funcuid":"4902ea34-75e6-42ac-b13b-1239be6ffdb2","newname":"","environment":"python","code":"from flask import request\nfrom flask import current_app\nfrom time import sleep\nimport json\nimport re\n\ndef main():\n    current_app.logger.info(\"Received request\")\n    body = request.get_data().decode(\"utf-8\")\n    category = 'cat'\n    possibility = 100\n    name = 'none'\n    try:\n        payload = json.loads(body)['payload']\n        current_app.logger.info(payload[\"Key\"])\n        name = payload['Key'].split('/')[1]\n        m = re.search(r'-(\\w+)-', payload['Key'])\n        if m:\n            category = m.group(1)\n        m = re.search(r'_(\\w+)_', payload['Key'])\n        if m:\n            possibility = int(m.group(1))\n    except Exception as e:\n        current_app.logger.error(e)\n        pass\n\n    sleep(1)\n    return json.dumps({'err':'', 'payload': {\n        'category': category,\n        'name': name,\n        'possibility': possibility\n    }})\n","serviceinstances":"","version":"","cputarget":60,"maxinstance":3,"timerange":0.5,"outputs":2,"x":550,"y":680,"wires":[["be28000b.f1d98","fb190ae3.6f6ad8"],[]]},{"id":"6261eb63.d15594","type":"fission-func-image","z":"1361afcd.8bca7","name":"Convert images","serviceclass":"minio","instancename":"minio-instance","funcname":"std-image-convert","x":540,"y":560,"wires":[["ce94edf2.acb9b"],[]]},{"id":"ce94edf2.acb9b","type":"debug","z":"1361afcd.8bca7","name":"","active":true,"console":"false","complete":"payload","x":730,"y":560,"wires":[]},{"id":"86ed0c48.5df55","type":"fission-natstrigger","z":"1361afcd.8bca7","name":"When new msg in [app.image.recognize]","autoresp":true,"topic":"app.image.recognize","mqtype":"nats-streaming","resptopic":"","x":220,"y":680,"wires":[["5c1570f7.cc634"]]},{"id":"be28000b.f1d98","type":"change","z":"1361afcd.8bca7","name":"Exchange params","rules":[{"t":"set","p":"newkey","pt":"msg","to":"type","tot":"str"},{"t":"set","p":"newvalue","pt":"msg","to":"payload.payload.category","tot":"msg"},{"t":"set","p":"key","pt":"msg","to":"name","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload.payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":640,"wires":[["2b62b419.0d1ebc"]]},{"id":"2b62b419.0d1ebc","type":"fission-rethinkdb-update","z":"1361afcd.8bca7","name":"Update record in DB","serviceclass":"rethinkdb","instancename":"rethinkdb-instance","database":"test","table":"images","key":"","value":"","newkey":"","newvalue":"","funcname":"std-rethinkdb-update","x":1060,"y":660,"wires":[]},{"id":"cfb480be.4cd7f","type":"fission-rethinkdb-adapter","z":"1361afcd.8bca7","name":"When a image info updated in DB which [type] = [tiger]","autoresp":true,"serviceclass":"rethinkdb","instancename":"rethinkdb-instance","database":"test","table":"images","key":"type","value":"tiger","x":260,"y":780,"wires":[["cba45fa1.12ccc"]]},{"id":"cba45fa1.12ccc","type":"change","z":"1361afcd.8bca7","name":"Inject tiger found message","rules":[{"t":"set","p":"payload","pt":"msg","to":"A new tiger found!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"That is great!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":760,"wires":[["d0e08e34.17a"]]},{"id":"d0e08e34.17a","type":"slack","z":"1361afcd.8bca7","name":"","channelURL":"https://hooks.slack.com/services/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","username":"fission","emojiIcon":"","channel":"testing","x":850,"y":760,"wires":[]},{"id":"6134394d.9e14b8","type":"fission-httptrigger","z":"bd4e722a.ca471","name":"When client put [/api/client/status]","url":"/api/client/status","method":"put","x":190,"y":100,"wires":[["3f1d0d1c.6e6dc2"]]},{"id":"3f1d0d1c.6e6dc2","type":"subflow:7bc12278.9b519c","z":"bd4e722a.ca471","name":"","x":480,"y":100,"wires":[["80800ac.53271f8"],["ad1c5a06.e2f698"]]},{"id":"80800ac.53271f8","type":"fission-rate-limit","z":"bd4e722a.ca471","name":"","rate":"1","nbRateUnits":"1","rateUnits":"second","x":690,"y":80,"wires":[["7f1fb875.f28518"],["ad1c5a06.e2f698"]]},{"id":"7f1fb875.f28518","type":"fission-params-validate","z":"bd4e722a.ca471","name":"","payload":"{\"payload\":{\"status\":\"string\",\"battery\":\"number\"},\"topic\":\"string\"}","payloadType":"json","x":880,"y":60,"wires":[["19be48b8.15f557"],["ad1c5a06.e2f698"]]},{"id":"19be48b8.15f557","type":"function","z":"bd4e722a.ca471","name":"Set Params","func":"var payload = msg.payload;\npayload.atime = Date.now();\nmsg.payload = {\n    'params': [\n        'status',\n        msg.topic,\n        JSON.stringify(payload)\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":40,"wires":[["a38983ed.d66de"]]},{"id":"a38983ed.d66de","type":"fission-redis","z":"bd4e722a.ca471","name":"Set status in Redis","serviceclass":"redis","instancename":"redis-instance","command":"hset","funcname":"std-redis-cmd","x":1250,"y":20,"wires":[["ad1c5a06.e2f698"],["ad1c5a06.e2f698"]]},{"id":"ad1c5a06.e2f698","type":"http response","z":"bd4e722a.ca471","name":"","statusCode":"","headers":{},"x":1350,"y":160,"wires":[]},{"id":"7f9ddacf.cfd4b4","type":"fission-timetrigger","z":"bd4e722a.ca471","name":"Every 30 minutes","cron":"@every 12h","x":140,"y":220,"wires":[["87ce749b.1cf258"]]},{"id":"87ce749b.1cf258","type":"change","z":"bd4e722a.ca471","name":"Set messages","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"params\":[\"status\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["aa56c4c8.c210d8"]]},{"id":"aa56c4c8.c210d8","type":"fission-redis","z":"bd4e722a.ca471","name":"Get status in Redis","serviceclass":"redis","instancename":"redis-instance","command":"hgetall","funcname":"std-redis-cmd","x":550,"y":220,"wires":[["b61e3067.40ecb"],["3913619f.35d44e"]]},{"id":"b61e3067.40ecb","type":"fission-invocation","z":"bd4e722a.ca471","name":"Filter misbehaving clients","readonly":true,"errorflow":true,"createnew":false,"funcname":"app-client-filter","funcuid":"79f867a3-6730-494f-ad82-442418d69fc5","newname":"","environment":"node","code":"module.exports = function(context, callback) {\n    const request = context.request;\n    const body = request.body;\n    const payload = body.payload;\n    const result = payload.result;\n    if (result === null) {\n        callback(200, null);\n        return;\n    }\n    const misbehaving = Object.keys(result).filter(\n        (k) => {\n            const o = JSON.parse(result[k]);\n            const past = Date.now() - 5 * 60 * 1000\n            return o.status === 'error'\n                || o.battery < 5\n                || o.atime < past;\n        }\n    );\n    payload.misbehaving = misbehaving;\n    payload.msg = 'Some node is not working properly: '+JSON.stringify(misbehaving);\n    console.log('nodered', payload.msg);\n\n    if (misbehaving.length === 0) {\n        callback(200, null);\n        return;\n    }\n    callback(200, payload);\n};\n","serviceinstances":"","version":"","cputarget":60,"maxinstance":3,"timerange":0.5,"outputs":2,"x":790,"y":220,"wires":[["4777fa86.f2bbd4"],["3913619f.35d44e"]]},{"id":"4777fa86.f2bbd4","type":"change","z":"bd4e722a.ca471","name":"Set messages","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Some nodes are misbehaving","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[["6c84e8b6.4c8d68","3913619f.35d44e"]]},{"id":"6c84e8b6.4c8d68","type":"slack","z":"bd4e722a.ca471","name":"","channelURL":"https://hooks.slack.com/services/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","username":"fission","emojiIcon":"","channel":"testing","x":1210,"y":220,"wires":[]},{"id":"3913619f.35d44e","type":"debug","z":"bd4e722a.ca471","name":"","active":true,"console":"false","complete":"payload","x":1230,"y":300,"wires":[]},{"id":"b8d4f7da.740df8","type":"fission-httptrigger","z":"abbbc2d1.89091","name":"When admin get [/api/client/status]","url":"/api/client/status","method":"get","x":213,"y":88,"wires":[["8faffba0.0ca1d8"]]},{"id":"8faffba0.0ca1d8","type":"subflow:2385ac3c.16d4a4","z":"abbbc2d1.89091","x":500,"y":80,"wires":[["1af7d580.f8d49a"],["7564b3e3.447cbc"]]},{"id":"1af7d580.f8d49a","type":"change","z":"abbbc2d1.89091","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"params\":[\"status\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":60,"wires":[["822bae2e.c6ea1"]]},{"id":"822bae2e.c6ea1","type":"fission-redis","z":"abbbc2d1.89091","name":"Get status in Redis","serviceclass":"redis","instancename":"redis-instance","command":"hgetall","funcname":"std-redis-cmd","x":910,"y":60,"wires":[["7564b3e3.447cbc"],["7564b3e3.447cbc"]]},{"id":"7564b3e3.447cbc","type":"http response","z":"abbbc2d1.89091","name":"","statusCode":"","headers":{},"x":1130,"y":80,"wires":[]},{"id":"a6a188e5.6e92a8","type":"fission-httptrigger","z":"abbbc2d1.89091","name":"When admin get [/api/images]","url":"/api/images","method":"get","x":200,"y":200,"wires":[["2fd57e4.de78082"]]},{"id":"2fd57e4.de78082","type":"subflow:2385ac3c.16d4a4","z":"abbbc2d1.89091","x":460,"y":180,"wires":[["b239ed4e.808e6"],["db4eabe4.0ae708"]]},{"id":"b239ed4e.808e6","type":"fission-rethinkdb-get","z":"abbbc2d1.89091","name":"","serviceclass":"rethinkdb","instancename":"rethinkdb-instance","database":"test","table":"images","key":"","value":"","funcname":"std-rethinkdb-get","x":740,"y":160,"wires":[["db4eabe4.0ae708"],["db4eabe4.0ae708"]]},{"id":"db4eabe4.0ae708","type":"http response","z":"abbbc2d1.89091","name":"","statusCode":"","headers":{},"x":950,"y":200,"wires":[]},{"id":"681d0285.eaca7c","type":"fission-httptrigger","z":"abbbc2d1.89091","name":"When admin get [/api/images/type/{name}]","url":"/api/images/type/{name}","method":"get","x":240,"y":300,"wires":[["32d94330.ef975c"]]},{"id":"32d94330.ef975c","type":"subflow:2385ac3c.16d4a4","z":"abbbc2d1.89091","x":540,"y":280,"wires":[["d47a661b.538238"],["5b3515c9.4e55fc"]]},{"id":"d47a661b.538238","type":"change","z":"abbbc2d1.89091","name":"Bind Params","rules":[{"t":"set","p":"key","pt":"msg","to":"type","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"req.headers['x-fission-params-name']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":768,"y":279,"wires":[["11f3bf80.dcb341"]]},{"id":"ec13c092.8a176","type":"subflow:2385ac3c.16d4a4","z":"abbbc2d1.89091","x":540,"y":380,"wires":[["c6c0d788.e22bf8"],["5b3515c9.4e55fc"]]},{"id":"7148398c.633798","type":"fission-httptrigger","z":"abbbc2d1.89091","name":"When admin get [/api/images/client/{id}]","url":"/api/images/client/{id}","method":"get","x":230,"y":400,"wires":[["ec13c092.8a176"]]},{"id":"c6c0d788.e22bf8","type":"change","z":"abbbc2d1.89091","name":"Bind Params","rules":[{"t":"set","p":"key","pt":"msg","to":"client_id","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"req.headers['x-fission-params-id']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":380,"wires":[["11f3bf80.dcb341"]]},{"id":"11f3bf80.dcb341","type":"fission-rethinkdb-get","z":"abbbc2d1.89091","name":"","serviceclass":"rethinkdb","instancename":"rethinkdb-instance","database":"test","table":"images","key":"","value":"","funcname":"std-rethinkdb-get","x":1040,"y":320,"wires":[["48355fcf.31c5f"],["48355fcf.31c5f"]]},{"id":"48355fcf.31c5f","type":"http response","z":"abbbc2d1.89091","name":"","statusCode":"","headers":{},"x":1310,"y":380,"wires":[]},{"id":"5b3515c9.4e55fc","type":"http response","z":"abbbc2d1.89091","name":"","statusCode":"","headers":{},"x":770,"y":320,"wires":[]},{"id":"435cda69.891c94","type":"fission-httptrigger","z":"abbbc2d1.89091","name":"When admin get img from a bucket","url":"/api/images/bucket/{bktname}/img/{imgname}","method":"get","x":220,"y":500,"wires":[["af91b577.f2d498"]]},{"id":"af91b577.f2d498","type":"change","z":"abbbc2d1.89091","name":"Bind params","rules":[{"t":"set","p":"bucket","pt":"msg","to":"req.headers['x-fission-params-bktname']","tot":"msg"},{"t":"set","p":"filename","pt":"msg","to":"req.headers['x-fission-params-imgname']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":480,"wires":[["16683cb7.4ece73"]]},{"id":"16683cb7.4ece73","type":"fission-minio-get","z":"abbbc2d1.89091","name":"Get img from Object Storage","serviceclass":"minio","instancename":"minio-instance","bucket":"","filename":"","funcname":"std-minio-get","x":687,"y":465,"wires":[["a9226b7e.627e08"],["a9226b7e.627e08"]]},{"id":"a9226b7e.627e08","type":"http response","z":"abbbc2d1.89091","name":"","statusCode":"","headers":{},"x":930,"y":460,"wires":[]},{"id":"85111e24.2f0e7","type":"inject","z":"bd4e722a.ca471","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":400,"wires":[["ee381fd5.cbd23"]]},{"id":"ee381fd5.cbd23","type":"change","z":"bd4e722a.ca471","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"params\":[\"status\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":400,"wires":[["2e403269.66c69e"]]},{"id":"2e403269.66c69e","type":"fission-redis","z":"bd4e722a.ca471","name":"Flush status in Redis","serviceclass":"redis","instancename":"redis-instance","command":"del","funcname":"std-redis-cmd","x":540,"y":400,"wires":[["f1be8f51.42b86"],["f1be8f51.42b86"]]},{"id":"f1be8f51.42b86","type":"debug","z":"bd4e722a.ca471","name":"","active":true,"console":"false","complete":"false","x":790,"y":400,"wires":[]},{"id":"cb73fb79.771b58","type":"inject","z":"1361afcd.8bca7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":688.6988372802734,"y":840.1902847290039,"wires":[["d0e08e34.17a"]]},{"id":"fb190ae3.6f6ad8","type":"change","z":"1361afcd.8bca7","name":"Exchange params","rules":[{"t":"set","p":"newkey","pt":"msg","to":"possibility","tot":"str"},{"t":"set","p":"newvalue","pt":"msg","to":"payload.payload.possibility","tot":"msg"},{"t":"set","p":"key","pt":"msg","to":"name","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload.payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":680,"wires":[["2b62b419.0d1ebc"]]}]